<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="at.bachmann.plc.launch.launchPlcModType">
<stringAttribute key="configFile" value=""/>
<stringAttribute key="debugTask" value="DefaultTask"/>
<booleanAttribute key="installPermanently" value="false"/>
<stringAttribute key="installationMode" value="TEMPORARY_KEEP_CONFIG"/>
<intAttribute key="lineNumber" value="0"/>
<mapAttribute key="moduleConfig"/>
<stringAttribute key="moduleFilename" value="bin\GmpAcces.m"/>
<intAttribute key="moduleIdentity" value="0"/>
<stringAttribute key="moduleInstanceName" value="GMPACCES"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GmpAccess"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="overrideConfig" value="false"/>
<stringAttribute key="profileName" value=""/>
<stringAttribute key="projectName" value="GmpAccess"/>
<booleanAttribute key="sendEOI" value="true"/>
<stringAttribute key="sequence" value="RUN"/>
<stringAttribute key="targetName" value="/My Devices/geke.vxworks"/>
</launchConfiguration>
